<div class="container">
    <h1 class="main-title">Hello, <%= current_user.full_name %></h1>
    <p>Welcome to Finance Tracker app</p>  
    <br>
    <h2> Latest </h2>
    <p> Google is leading right now is stocks </p>
    <p> Apple announces new Macbook </p>
    <p> Netflix wants to create video games </p>
    <p> Amazon prime is creating Lord of the Rings TV series with $1bn dollars </p>
    <p> NASA and SpaceX join hands </p>
    <p> Microsoft falls in stocks </p>
    <p> Walmart goes up in stocks </p>
</div>
