@import 'bootstrap/dist/css/bootstrap';

.navbar-brand{
    font-size: 2rem;
}

.card-header{
    background-color:#f0f8ff;
}
.card-header:hover{
    background-color:white
}

#login{
    float:right;
    width: 300px;
}
#signup{
    margin: 0 auto;
    width: 400px;
}

.search-area{
    padding-top: 50px;
}

.no-left-padding{
    padding-left: 0 !important;
}

.no-right-padding{
    padding-right: 0 !important;
}

.results-block{
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button{
    margin-right: 5px;
}

.user-name{
    padding-top: 4px;
    padding-right: 5px;
}

.edit-title{
    margin-left: 8px; 
    margin-top: 4px;  
}

.action-login{
    float: right;
}

.action-signup{
    color: black;
}

.edit-buttons{
    display: inline-block;
}
